<div class="comment-card">
	<div class="user-info">
		<img src="{{ asset('icons/user-avatar.svg') }}" alt="User Avatar" class="avatar">
		<div class="user-details">
			<h3>
				{% if comment.getAuthor() %}
					{{ comment.getAuthor().getFirstName() }}
					{{ comment.getAuthor().getLastName() }}
				{% endif %}
			</h3>
			<p>{{ comment.getContent() }}</p>
		</div>
	</div>
</div>
