<form class="comment-container" action="{{ path('api_comment_add', {'id': postID}) }}" method="post">
    <input type="text" class="comment-input" placeholder="Write a comment..." name="content">
    <button class="comment-button">Comment</button>
</form>
