<aside class="right-panel">
	<ul class="user-list">
		{% for user in users %}
			<li class="user-item">
				<img src="{{ asset('/icons/user-avatar.svg') }}" alt="User Avatar" class="avatar">
				<span>{{ user.name }}</span>
			</li>
		{% endfor %}
	</ul>
</aside>
