<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>FishingSpot -
			{{ title }}</title>
		<link rel="stylesheet" href="{{ asset('/styles/auth.css') }}">
		<link rel="stylesheet" href="{{ asset('/styles/partials/_flash_message.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">

	</head>
	<body>
		{% block body %}{% endblock %}

		{% block javascripts_flash %}
			{% block importmap_flash %}
				{{ importmap('flash_messages') }}
			{% endblock %}
			{% include 'partials/_flash_message.html.twig' %}
		{% endblock %}
	</body>
</html>
