{% extends 'security/base.html.twig' %}

{% block body %}
	<div class="form-container">
		<h1>Join us at<br><span class="brand-name">FishingSpot</span>
		</h1>
		<form action="{{ path('app_register_new') }}" method="post">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" placeholder="Enter your username" required>

			<label for="email">Email</label>
			<input type="text" id="email" name="email" placeholder="Enter your email" required>

			<label for="password">Password</label>
			<input type="password" id="password" name="password" placeholder="Enter your password" required>

			<label for="confirm_password">Confirm Password</label>
			<input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>

			<button type="submit">Register</button>
		</form>
		<div class="register">
			<p>Already signed up?
				<a href="{{ path('app_login') }}">Login</a>
			</p>
		</div>
	</div>
{% endblock %}
